/************* HOME PAGE ONLY ***************/
/*********** loading animation **********************/
.loader_bg{
    background: fixed;
    z-index: 1;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    animation: fadeinLoad 2.3s forwards;
}
.cssload-loader {
	position: relative;
    left: calc(50% - 31px);
    top: calc(50% - 31px);
	width: 62px;
	height: 62px;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	perspective: 780px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
        -moz-border-radius: 50%;	
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 0.9s linear infinite;
		-o-animation: cssload-rotate-one 0.9s linear infinite;
		-ms-animation: cssload-rotate-one 0.9s linear infinite;
		-webkit-animation: cssload-rotate-one 0.9s linear infinite;
		-moz-animation: cssload-rotate-one 0.9s linear infinite;
	border-bottom: 3px solid rgba(255,121,217,0.98);
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 0.9s linear infinite;
		-o-animation: cssload-rotate-two 0.9s linear infinite;
		-ms-animation: cssload-rotate-two 0.9s linear infinite;
		-webkit-animation: cssload-rotate-two 0.9s linear infinite;
		-moz-animation: cssload-rotate-two 0.9s linear infinite;
	border-right: 3px solid rgb(146,86,220);
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 0.9s linear infinite;
		-o-animation: cssload-rotate-three 0.9s linear infinite;
		-ms-animation: cssload-rotate-three 0.9s linear infinite;
		-webkit-animation: cssload-rotate-three 0.9s linear infinite;
		-moz-animation: cssload-rotate-three 0.9s linear infinite;
	border-top: 3px solid rgb(153,226,208);
}
.loader_bg:hover  body{
    overflow: hidden;
}






@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}
@-webkit-keyframes fadeinLoad {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fadeinLoad {
    from {
      opacity: 1;
    }
    to {
        visibility: hidden;
    }
  }
/*********** loading animation **********************/



/***************** HOME PAGE'S MEDIA QUERY ************/
a{
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
  } 
/*.container{
    width: 1345px;
    margin-left: auto;
    margin-right: auto;
}*/
.container{
    width: 1345px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.localisation{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E8E8E8;
    border-top: 3px ridge rgba(128,128,128,0.20);
}
input{
    background-color: #E8E8E8;
    border: none;
    width: 110px;
    font-size: 15px;
}
i.fas.fa-map-marker-alt{
    margin-right: 10px;
}
div.first-part{
    background-color: #f4f4f4;
    padding-bottom: 55px;
}
.first-title{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
}
.description{
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.bouton1{
    text-align: center;
    width: 225px;
    margin-top: 30px;
    margin-left: auto;
    border-radius: 30px;
    margin-right: auto;
    box-shadow: 0 5px 6px 0px #C3C3C3;
    background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}
.bouton1:hover{
    filter: brightness(1.03);
    box-shadow: 0 2px 11px 0px #8D8D8D;
}
.text1{
    margin: 0;
    padding: 15px 0px;
    margin-left: auto;
    text-align: center;
    color: white;
    margin-right: auto;
    width: fit-content;
}
.title-and-filtre{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 15px;
    padding-bottom: 45px;
}
h2{
    margin-top: 0;
    margin-bottom: 0;
}
.filtres-container{
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.number1,.number2,.number3{
    position: absolute;
    color: white;
    border-radius: 30px;
    padding: 3px 8px;
    background-color: #9356DC;
    margin: -2px;
    transform: translate(-190%, 0);
}
.filtres-name1, .filtres-name2, .filtres-name3{
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-weight: bold;
}
.filtre1, .filtre2, .filtre3{ 
    display: flex;
    padding-left: 30px;
    padding: 25px 0px 25px 37px;
    background-color: #f4f4f4;
    border-radius: 25px;
    width: 20%;
    box-shadow: 0 3px 11px 0px #C3C3C3;
}
i.fas.fa-list-ul, i.fas.fa-store, i.fas.fa-mobile-alt{
    height: fit-content;
    width: 32px;
}
i.fas.fa-list-ul,i.fas.fa-mobile-alt{
    color: #636363;
}
i.fas.fa-store{
    color: #9356DC;
}
.steps{
    display: flex;
    width: 90%;
}

/*****Restaurants*******/
.third-part{
    background-color: #f4f4f4;
    padding-bottom: 40px;
}
a{
    text-decoration: none;
    text-transform: none;
}
.grid-restaurant{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    column-gap: 35px;
    margin-top: 20px;
}
.restaurant-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 90%;
    padding-top: 30px;
}
.restaurant{
    position: absolute;
    transform: translate(0px, -22px);
}
.gallery-menu{
    position: relative;
}
.gallery-menu:hover{
    box-shadow: 0 3px 11px 0px #9356DC, 0px -9px 10px -8px #FF79DA;
    border-radius: 20px 20px;
}
.new{
    padding: 6px 15px;
    width: fit-content;
    background-color: #99E2D0;
    position: absolute;
    margin-top: 16px;
    right: 5%;
}
.p-new{
    margin: 0;
    color: #3D8D7A;
}
/*************** heart test **************
i.far.fa-heart{
    position: absolute;
    cursor: pointer;
    font-size: 23px;
    color: black;
    margin: 2px;
    right: 5%;
}
i.fas.fa-heart{
    display: none;
}
i.far.fa-heart:hover ~ i.fas.fa-heart{
    display: block;
    cursor: pointer;
    position: absolute;
    background:-moz-linear-gradient(top, #9356dc 0%, #ff79da 100%); 
    background: -webkit-linear-gradient(top, #9356dc 0%,#ff79da 100%); 
    background: linear-gradient(to bottom, #9356dc 0%,#ff79da 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    animation: heart 1s ease-in-out;
    right: 5%;
    font-size: 19.5px;
    margin-top: 4px;
    margin-right: 4px;
}
@keyframes heart {
   0% { opacity: 0 ;}
    100% { opacity: 1 ;}
}
/*********** test heart end **********/
.fa-heart{
    font-size: 23px;
  }
  .heart{
    position:relative;
    z-index:1;
    color: black;
    position: absolute;
    right: 7%;
    cursor: pointer;
    
  }
  .heart-color{
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity:0;
    transform: scale(0);
    transition:.3s ease;
  }
  
  .heart:hover .heart-color{
    transform:scale(1);
    opacity:1;
  }
  .heart:hover{
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px white;
  }
/********** heart animation end ***************/
.place-footer{
    width: 1214px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1304px){
    .container{
        width: unset;
    }
   .first-grid{
    display: grid;
    grid-template-columns: 30% auto;
   }
   .grid-restaurant{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 25px;
   }
   .first-restaurant, .second-restaurant, .third-restaurant, .fourth-restaurant{
       width: 100%;
   }
    .title-and-filtre{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .filtres-container{
        display: block;
        width: 100%;
    }
    .filtre1, .filtre2, .filtre3{
        width: auto;
    }
    .filtre2, .filtre3{
        margin-top: 20px;
    }
    .function{
        transform: translateY(-7px);
    }
    .steps{
        width: 210px;
        margin-left: auto;
        margin-right: auto;
    }
    .filtre2, .filtre3{
        margin-top: 20px;
    }
    .place-footer{
        margin-left: 2%;
        width: unset;
    }
}
@media screen and (max-width: 1144px){
    .title-and-filtre{
        width: 65%;
    }
    .place-footer{
        margin-left: 5%;
    }
}
@media screen and (max-width: 852px){
    .first-grid{
        grid-template-rows: auto auto;
        grid-template-columns: none;
    }
}
@media screen and (max-width: 525px){
    .grid-restaurant{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
    }
}
@media screen and (max-width: 379px){
    .title-and-filtre{
        width: 88%;
    }
}




















