*{
    font-family:'Roboto', sans-serif ;
}
body{
    margin: 0 auto;
}

@media screen and (max-width: 375px){
    a{
        text-decoration: none;
    }
    .logo{
        width: 140px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .localisation{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #E8E8E8;
        border-top: 3px ridge rgba(128,128,128,0.20);
    }
    p.place{
        margin: 0;
    }
    i.fas.fa-map-marker-alt{
        margin-right: 10px;
    }
    div.first-part{
        background-color: #f4f4f4;
        padding-bottom: 55px;
    }
    .first-title{
        text-align: center;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        font-size: 23px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 35px;
    }
    .description{
        text-align: center;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .bouton1{
        text-align: center;
        width: 57%;
        margin-top: 30px;
        padding: 15px 0px;
        margin-left: auto;
        border-radius: 30px;
        margin-right: auto;
        box-shadow: 0 5px 6px 0px #C3C3C3;
        background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    }
    .text1{
        margin: 0;
        margin-left: auto;
        text-align: center;
        color: white;
        margin-right: auto;
        width: fit-content;
    }
    .title-and-filtre{
        margin-left: 4%;
        padding-top: 35px;
        padding-bottom: 60px;
    }
    h2{
        margin-top: 0;
    }
    .filtres-container{
        margin-left: 3%;
    }
    .number1,.number2,.number3{
        position: absolute;
        color: white;
        margin: 0;
        border-radius: 30px;
        padding: 3px 8px;
        background-color: #9356DC;
        margin: -2px;
        left: 4%;
    }
    .filtres-name1, .filtres-name2, .filtres-name3{
        margin-top: 0;
        margin-bottom: 0;
        color: black;
        font-weight: bold;
    }
    .filtre1, .filtre2, .filtre3{
        display: flex;
        padding-left: 30px;
        padding: 25px 0px 25px 37px;
        background-color: #f4f4f4;
        border-radius: 25px;
        width: 85%;
        box-shadow: 0 3px 11px 0px #C3C3C3;
    }
    i.fas.fa-list-ul, i.fas.fa-store, i.fas.fa-mobile-alt{
        height: fit-content;
        width: 15%;
    }
    i.fas.fa-list-ul,i.fas.fa-mobile-alt{
        color: #636363;
    }
    i.fas.fa-store{
        color: #9356DC;
    }
    .filtre2, .filtre3{
        margin-top: 20px;
    }

    /*****Restaurants*******/ 
    .third-part{
        background-color: #f4f4f4;
        padding-bottom: 40px;
    }
    a{
        text-decoration: none;
        text-transform: none;
    }
    .restaurant-container{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding-top: 30px;
    }
    .gallery-menu{
        margin-bottom: 15px;
    }
    .new{
        padding: 6px 15px;
        width: fit-content;
        background-color: #99E2D0;
        position: absolute;
        margin-left: 235px;
        margin-top: 16px;
    }
    .p-new{
        margin: 0;
        color: #3D8D7A;
    }
    i.far.fa-heart{
        font-size: 23px;
        color: black;
        position: absolute;
        margin-left: 308px;
    }
    h3{
        color: black;
        margin-top: 0;
        margin-bottom: 5px;
        margin-left: 15px;
    }
    div.overlay{
        padding-top: 15px;
        background-color: white;
        border-radius: 0 0 20px 20px;
        padding-bottom: 14px;
    }
    .p-caption{
        margin: 0;
        color: black;
        margin-left: 15px;
        font-size: 16px;
    }
    .grid-image{
        display: block;
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 20px 20px 0 0
    }
    footer{
        background-color: #3A3A3A;
    }
    .place-footer{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding-bottom: 30px;
    }
    .footer-caption{
        color: white;
        margin-top: 0;
        margin-bottom: 10px;
    }
    h4{
        color: white;
        font-family: 'Shrikhand', cursive;
        font-weight: 100;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .icon-footer{
        display: flex;
        padding-bottom: 10px;
    }
    i.fas.fa-utensils{
        margin-right: 12px;
        margin-left: 5px;
        color: white;
        font-size: 14px;
        margin-top: 2px;
    }
    i.fas.fa-hands-helping{
        margin-right: 11px;
        color: white;
        font-size: 14px;
        margin-top: 2px;
    }



    /***** Heart animation try **********
    i.far.fa-heart{
        position: relative;
        overflow: hidden;
    }
    i.far.fa-heart::before{
        overflow: hidden;
    }
    i.far.fa-heart::after{
        content: " ";
        position: absolute;
        background-image: linear-gradient(to top, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
        height: 200%;
        width: 200%;
        right: -50%;
        top: 90%;
        border-radius: 45%;
        animation: spin 4s ease-in-out;
        overflow: hidden;
    }

@keyframes spin{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    100%{
        transform: translateY(-100%) rotate(500deg);
    }
}*/

/******** SECOND RESTAURANT *************/
.restaurant-name{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 30px;
}
i.fas.fa-arrow-left{
    text-decoration: none;
    position: absolute;
    margin-left: 30px;
    margin-top: 5px;
    color: black;
}
div.background-image{
    display: flex;
    height: 280px;
}
.img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu-container{
    background-color: #f2f2f2;
    border-radius: 40px 40px 0 0;
    padding-bottom: 60px;
    padding-top: 20px;
    width: 100%;
    top: 42%;
}
.second-title{
    font-family: 'Shrikhand', cursive;
    margin-left: 18px;
    margin-bottom: 0px;
    font-size: 25px;
    margin-top: 0;
    font-weight: 100;

}
i.far.fa-heart.two{
    font-size: 22px;
    margin-left: 0;
    margin-top: 5px;
    position: unset;
}
.menu{
    margin-left: 10px;

}
.menu-type{
    text-transform: uppercase;
    color: #747474;
    padding-bottom: 10px;
    margin-left: 5px;
    position: relative;
}
.menu-type::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 11%;
    border-bottom: 3px solid #99E2D0;
}
.menu-title{
    margin-top: 0;
}
.food-container{
    margin-bottom: 35px;
}
.entree-caption{
    margin: 0;
}
.p-number{
    margin: 0;
}
.place-menu{
    background-color: white;
    border-radius: 17px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 93%;
    padding-right: 15px;
    margin-bottom: 10px;
}
.price-place{
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
}
.bouton2{
    text-align: center;
        width: 57%;
        margin-top: 60px;
        padding: 15px 0px;
        margin-left: auto;
        border-radius: 30px;
        margin-right: auto;
        box-shadow: 0 5px 6px 0px #C3C3C3;
        background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}
.bouton-commander{
    color: white;
    margin: 0;
}
}