*{
    font-family:'Roboto', sans-serif ;
}
body{
    margin: 0 auto;
}

@media screen and (max-width: 375px){
    a{
        text-decoration: none;
    }
    .logo{
        width: 140px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .localisation{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #E8E8E8;
        border-top: 3px ridge rgba(128,128,128,0.20);
    }
    p.place{
        margin: 0;
    }
    i.fas.fa-map-marker-alt{
        margin-right: 10px;
    }
    div.first-part{
        background-color: #f4f4f4;
        padding-bottom: 55px;
    }
    .first-title{
        text-align: center;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        font-size: 23px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 35px;
    }
    .description{
        text-align: center;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .bouton1{
        text-align: center;
        width: 57%;
        margin-top: 30px;
        padding: 15px 0px;
        margin-left: auto;
        border-radius: 30px;
        margin-right: auto;
        box-shadow: 0 5px 6px 0px #C3C3C3;
        background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    }
    .bouton1:hover{
        filter: brightness(1.07);
        box-shadow: 0 2px 11px 0px #8D8D8D;
    }
    .text1{
        margin: 0;
        margin-left: auto;
        text-align: center;
        color: white;
        margin-right: auto;
        width: fit-content;
    }
    .title-and-filtre{
        margin-left: 4%;
        padding-top: 35px;
        padding-bottom: 60px;
    }
    h2{
        margin-top: 0;
        margin-bottom: 0;
    }
    .filtres-container{
        margin-left: 3%;
        padding-top: 15px;
    }
    .number1,.number2,.number3{
        position: absolute;
        color: white;
        margin: 0;
        border-radius: 30px;
        padding: 3px 8px;
        background-color: #9356DC;
        margin: -2px;
        left: 4%;
    }
    .filtres-name1, .filtres-name2, .filtres-name3{
        margin-top: 0;
        margin-bottom: 0;
        color: black;
        font-weight: bold;
    }
    .filtre1, .filtre2, .filtre3{
        display: flex;
        padding-left: 30px;
        padding: 25px 0px 25px 37px;
        background-color: #f4f4f4;
        border-radius: 25px;
        width: 85%;
        box-shadow: 0 3px 11px 0px #C3C3C3;
    }
    .filtre1:hover, .filtre2:hover, .filtre3:hover{
        box-shadow: 0 3px 11px 0px #9356DC;
    }
    i.fas.fa-list-ul, i.fas.fa-store, i.fas.fa-mobile-alt{
        height: fit-content;
        width: 15%;
    }
    i.fas.fa-list-ul,i.fas.fa-mobile-alt{
        color: #636363;
    }
    i.fas.fa-store{
        color: #9356DC;
    }
    .filtre2, .filtre3{
        margin-top: 20px;
    }

    /*****Restaurants*******/ 
    .third-part{
        background-color: #f4f4f4;
        padding-bottom: 40px;
    }
    a{
        text-decoration: none;
        text-transform: none;
    }
    .restaurant-container{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding-top: 30px;
    }
    .gallery-menu{
        padding-top: 15px;
    }
    .new{
        padding: 6px 15px;
        width: fit-content;
        background-color: #99E2D0;
        position: absolute;
        margin-left: 235px;
        margin-top: 16px;
    }
    .p-new{
        margin: 0;
        color: #3D8D7A;
    }
    i.far.fa-heart{
        font-size: 23px;
        color: black;
        position: absolute;
        margin-left: 308px;
    }
    h3{
        color: black;
        margin-top: 0;
        margin-bottom: 5px;
        margin-left: 15px;
    }
    div.overlay{
        padding-top: 15px;
        background-color: white;
        border-radius: 0 0 20px 20px;
        padding-bottom: 14px;
    }
    .p-caption{
        margin: 0;
        color: black;
        margin-left: 15px;
        font-size: 16px;
    }
    .grid-image{
        display: block;
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 20px 20px 0 0
    }
    footer{
        background-color: #3A3A3A;
    }
    .place-footer{
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        margin-left: 5%;
        padding-bottom: 30px;
    }
    .footer-caption{
        color: white;
        margin-top: 0;
        margin-bottom: 10px;
    }
    h4{
        color: white;
        font-family: 'Shrikhand', cursive;
        font-weight: 100;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .icon-footer{
        display: flex;
    }
    i.fas.fa-utensils{
        margin-right: 12px;
        margin-left: 5px;
        color: white;
        font-size: 14px;
        margin-top: 2px;
    }
    i.fas.fa-hands-helping{
        margin-right: 11px;
        color: white;
        font-size: 14px;
        margin-top: 2px;
    }



    /***** Heart animation try **********/
    i.far.fa-heart{
        position: relative;
        overflow: hidden;
    }
    /*i.far.fa-heart::before{
        overflow: hidden;
    }*/
    i.far.fa-heart::after{
        content: " ";
        position: absolute;
        background-image: linear-gradient(to top, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
        height: 200%;
        width: 200%;
        right: -50%;
        top: 90%;
        border-radius: 45%;
        animation: spin 4s ease-in-out;
    }

@keyframes spin{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    100%{
        transform: translateY(-100%) rotate(500deg);
    }
}

/******** SECOND RESTAURANT *************/
section.menu-part{
    background-color: #f2f2f2;
}
.restaurant-name{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 30px;
}
i.fas.fa-arrow-left{
    text-decoration: none;
    position: absolute;
    margin-left: 30px;
    margin-top: 5px;
    color: black;
}
div.background-image{
    display: flex;
    height: 280px;
}
.img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu-container{
    background-color: #f2f2f2;
    border-radius: 40px 40px 0 0;
    padding-bottom: 30px;
    padding-top: 20px;
    width: 100%;
    transform: translateY(-3%);
}
.second-title{
    font-family: 'Shrikhand', cursive;
    margin-left: 18px;
    margin-bottom: 0px;
    font-size: 25px;
    margin-top: 0;
    font-weight: 100;

}
i.far.fa-heart.two{
    font-size: 22px;
    margin-left: 0;
    margin-top: 5px;
    position: aboslute;
    right: 7%;
}
.menu{
    margin-left: 10px;
    margin-bottom: 60px;

}
.menu-type{
    text-transform: uppercase;
    color: #747474;
    padding-bottom: 10px;
    margin-left: 5px;
    position: relative;
}
.menu-type::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 11%;
    border-bottom: 3px solid #99E2D0;
}
.menu-title{
    margin-top: 0;
}
.food-container{
    margin-bottom: 35px;
}
.entree-caption{
    margin: 0;
    width: 90%;
}
p.p-number{
    position: absolute;
    right: 15px;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    margin: 0;
    align-items: flex-end;
    width: 10%;
    top: -12px;
}
.place-menu{
    background-color: white;
    border-radius: 17px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
    width: 93%;
    padding-right: 15px;
    margin-bottom: 10px;
}
.place-menu.first{
    animation: animDiv 1.2s ease-in-out 0.7s;
    animation-fill-mode: both;
}
@keyframes animDiv {
    0%   {top:10px;
          opacity:0;
    }
    100%  {top:0px;
           opacity:1;
    }
}
.place-menu.second{
    animation: animDiv 1s ease-in-out 0.9s;
    animation-fill-mode: both;
}
.place-menu.third{
    animation: animDiv 1s ease-in-out 1.3s;
    animation-fill-mode: both;
}
.check{
    background-color: #99E2D0;
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    right: -70px;
}
.place-menu:hover > .check{
    animation: mymove 0.3s linear;
    animation-delay:0s;
    animation-fill-mode: forwards;
}
@keyframes mymove {
    from {right: -70px;}
    to {right: 0px;}
}
.place-menu:hover > p.p-number{
    animation: movetwo 0.3s linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
@keyframes movetwo { 
    from {right: 15px;}
    to {right: 75px;}
}
i.fas.fa-check-circle{
    -webkit-animation: fa-spin 0.7s ;
    -moz-animation: fa-spin 0.7s ;
    -o-animation: fa-spin 0.7s;
    animation: fa-spin 0.7s;
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    margin: -9px;
}
.place-menu:hover > .i.fas.fa-check-circle{
    -webkit-animation: fa-spin 1s ;
    -moz-animation: fa-spin 1s ;
    -o-animation: fa-spin 1s;
    animation: fa-spin 1s;
}
.price-place{
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
}
.bouton2{
    text-align: center;
    width: 57%;
    padding: 15px 0px;
    margin-left: auto;
    border-radius: 30px;
    margin-right: auto;
    box-shadow: 0 5px 6px 0px #C3C3C3;
    background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}
.bouton2:hover{
    filter: brightness(1.03);
    box-shadow: 0 2px 11px 0px #8D8D8D;
}
.bouton-commander{
    color: white;
    margin: 0;
}
/****  svg try*****
svg.heart{
    margin-left: 306px;
    position: absolute;
}
svg.heart::before{
    content: "";
}
svg.heart::after{
    content: " ";
    background-image: linear-gradient(to top, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    height: 200%;
    width: 200%;
    right: -50%;
    top: 90%;
    border-radius: 45%;
    animation: spin 4s ease-in-out;
}

@keyframes spin{
0%{
    transform: translateY(0) rotate(0deg);
}
100%{
    transform: translateY(-100%) rotate(500deg);
}
}*/

/* background-color try */
.heart{
    /*background-image: linear-gradient(to top, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);*/
    transition: ease-in-out 2s;
    overflow: hidden;
    fill: #ff79da;
    stroke: #ff79da;
}
}
